$color-pimary:#007065;
$color-pimary-light: #0d5f57;
$color-pimary-dark:#183636;
$color-grey:#777777;
$color-white: #fff;
$color-black:#000;
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$color-grey-light-1:#96edf0;
$default-font-size: 1.6rem;
$color-secondary-light:#17cfbd;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#10aa5d;
$color-tertiary-dark:#05552d;

$color-grey-light:#c8dad3;
$color-grey-dark:#63707e;

